.additional-products {

}

.additional-products__section-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-products__section-title--section {

}

.additional-products__list {

}

.additional-products__item {

}

.additional-products__link {
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
}

.additional-products__link--title {

}

.additional-products__card-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products__card-title--card {

}

.additional-products__feature {

}

.additional-products__button {
  font-size: 16px;
  line-height: 20px;
}
