.additional-products-feature {

}

.additional-products-feature__property {
  font-family: $text-font;
  color: $text-color-secondary;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-products-feature__value {
  font-family: $text-font;
  color: $text-color-secondary;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}
