.advantages {

}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__title--section {

}

.advantages__description {
  font-family: $text-font;
  color: $text-color-secondary;
  font-size: 14px;
  line-height: 18px;

  &::before {
    content: "";
    display: inline-block;
    min-width: 60px;
    min-height: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;

    &::before {
      min-width: 80px;
      min-height: 80px;
      background-size: 80px 80px;
      }
    }
  }
}

.advantages__list {

}

.advantages__item {

}

.advantages__item--helpful {
  .advantages__description {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-leaf");
      background-color: green;
    }
  }
}

.advantages__item--easy {
  .advantages__description {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-powder");
      background-color: green;
    }
  }
}

.advantages__item--econom {
  .advantages__description {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-eat");
      background-color: green;
    }
  }
}


.advantages__item--fast {
  .advantages__description {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-clock");
      background-color: green;
    }
  }
}
