.comment__input {
  font-family: $primary-font;
  color: $text-color-secondary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

