.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  font-family: $text-font;
  color: $text-color-secondary;

  &:hover {
    color: $color-secondary;
  }

  &:active {
    color: $color-secondary;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 23%;
    gap: 23px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 13.5%;
  }
}

.copyright + .copyright__academy-icon {
  color: #666666;
  width: 27px;
  height: 34px;

  &:hover {
    color: $color-secondary;
  }

  &:active {
    color: $color-secondary;
    opacity: 0.3;
  }
}
