.hero {
  background-color: $color-secondary;
  color: #ffffff;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    background-color: $background-color-primary;
    color: $text-color-primary;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__button {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}
