.main-header--index {
  @media (min-width: $desktop-width) {
    background-image: url("../../images/image-background/index-background-desktop@1x.png"), linear-gradient(90deg, $background-color-primary 50%, #64a83b 50%);
    background-size: 720px 696px, 100%;
    background-position: calc(50% + 360px) center, center;
    background-repeat: no-repeat;
  }
}

.main-header__link {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.main-header__main-nav {

}
