.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 20px 23px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;

    box-sizing: border-box;
    padding: 0 37px 40px;
    width: 324px;
    background-image: linear-gradient(180deg, $background-color-primary 87px, $background-color-secondary 87px);
    border-bottom: none;
  }
}

.product-card__link {
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 138px;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    margin-bottom: 22px;
    width: 250px;
    height: 210px;
  }
}

.product-card__image {
  display: block;
}

.product-card__wrapper {
  padding-top: 6px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 32px;
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  width: 60%;
  margin-top: 10px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    width: 135px;
    margin-bottom: 20px;
  }
}

.product-card__feature {
  margin: 0;
}

.product-card__button {
  grid-column: 1/-1;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

